@font-face {
    font-family: 'Helmet';
    src: url('Helmet-Regular.ttf');
}
@font-face {
    font-family: 'Kode Mono';
    src: url('KodeMono-Regular.ttf');
}
html {
    background: #111;
}
body {
    font-family: 'Helmet';
    background: repeating-linear-gradient( to bottom, #111 0px, #111 5px, #010A2F85 5px, #01202F85 10px);
    height: 100vh;
    box-shadow: inset 0 0 30px #2bc3ff4f, 0 0 30px #d2f2ff36;
    color: #6da6ff;
}


#menu {
    display: flex;
    width: 50%;
    align-items: baseline;
    justify-content: space-evenly;
    font-size: 1.5em;
    position: fixed;
    bottom: 5px;
    padding: 0% 25%;
    opacity: 50%;
}
  


#container {
    font-family: 'Kode Mono';
    width: 80%;
    max-width: 800px;
    display: block;
    margin: auto;
    top: 2em;
    position: absolute;
    top: 0;
    position: a;
    bottom: 0;
    left: 0;
    right: 0;
    height: fit-content;
    min-height: 300px;
    max-height: 600px;
    height: 100%;
}

#passages {
    overflow: auto;
    height: inherit;
}

a {
    color: #18badf;
}
a:hover {
    color: aqua;
    text-decoration: none;
    font-weight: bold;
}

#choices {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#choices a:hover {
    font-size: 125%;
    color: #037dff;
}
#menu a:hover {
    font-size: 2em;
    opacity: 100%;
}
#press-pls {
    position: fixed;
    top: 5%;
    right: 5%;
    font-size: 3em;
    opacity: 20%;
    color: yellow;
}
.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 3s, opacity 3s linear;
}
.bigger {
    font-size: 150%;
    color: white;
    transition: font-size 5s linear, color 3s linear;
}

#passage-start {
    text-align: center;
    margin-top: 20%;
} 

.sansserif .passage, .sansserif #ui-dialog-body {font-family: 'Helmet', sans-serif;}
.monospace .passage, .monospace #ui-dialog-body {font-family: "Kobe Mono", monospace;}
.serif .passage, .serif #ui-dialog-body {font-family: serif;}

#ui-overlay {
    background-color: #070228;
}
#ui-dialog-titlebar {
    background-color: transparent;
}
#ui-dialog-title {
    padding: .4em 0em;
    font-size: 2em;
    font-family: 'Kobe Mono', monospace;
}


/* Inline #10 | file:///C:/Users/tomb-/Downloads/Machina/export/index.html */

#ui-dialog-title {
    color: #15b5b5;
  }
  
  /* Inline #6 | file:///C:/Users/tomb-/Downloads/Machina/export/index.html */
  
  #ui-dialog-close:hover {
    /* background-color: #b44; */
    /* border-color: #d66; */
    background-color: #19086a;
    border-color: #7566dd;
  }
  
  #ui-dialog-body {
    /* background-color: #111; */
    /* border: 1px solid #444; */
    background-color: #070124;
    border: 1px solid #4440;
  }
  
  #ui-dialog-body ul.buttons {
    display: flex;
    justify-content: center;
  }
  
  #ui-dialog-body ul.buttons li {
    margin: 0 2em;
    padding: 0;
  }
  
  #restart-ok {
    width: 67.6px;
  }
  
  button {
    color: aqua;
    background-color: #071c51;
    border: 1px solid #2a0444;
  }
  
  button:hover {
    background-color: #07acac;
    border-color: inherit;
    color: #0f023e;
  }
  

/* Inline #3 | file:///C:/Users/tomb-/Downloads/Machina/export/index.html */

button:disabled {
    /* background-color: #444; */
    background-color: #595858;
    color: black;
    opacity: 0.5;
  }
  
  input, select, textarea {
    /* color: #eee; */
    /* border: 1px solid #444; */
    color: #7fdffd;
    border: 1px solid #0b0180;
  }
  
  input:not(:disabled):focus, input:not(:disabled):hover, select:not(:disabled):focus, select:not(:disabled):hover, textarea:not(:disabled):focus, textarea:not(:disabled):hover {
    /* background-color: #333; */
    /* border-color: #eee; */
    background-color: #024248;
    border-color: inherit;
  }
  
  /* Inline #11 | file:///C:/Users/tomb-/Downloads/Machina/export/index.html */
  
  button:disabled:hover {
    background-color: #595858;
  }
  
  /* Inline #10 | file:///C:/Users/tomb-/Downloads/Machina/export/index.html */
  
  #ui-dialog-close:hover {
    color: #00cfff;
  }
  